nav{
    background-color: white;
}
.nav-container{
    padding: 8px;

    min-height: 60px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    
}
.logo-container{

    display: flex;
    width: 50%;
}

.logo-container img{
    margin-top: 15px;
    /* height: 45px; */
    padding: 10px;

    /* width: 100px; */
    object-fit:cover;
    /* margin-right: 20px; */
    width: 10%;
    height: 5%;
    margin-left: 110px;
}
.logo-container h2{
    font-size: 30px;
    /* margin-left: 80px; */
  
}

.hive-section{
    color: #e893cf;
}

.nav-items-container{

    width: 40%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
}
/* nav ends */

.banner-container{

   display: flex;
   
   padding-right: 90px;
   /* padding-left: 10px; */

}
.banner-text{

    width: 50%;
    /* text-align: center; */
    padding-left: 263px;
    /* padding-top: 70px; */
}
.banner-text h1{
    font-size: 60px;
    /* padding-bottom: 50px; */

    /* width: 60%; */
}


.img2{
    margin-right: 260px;

}
.img2 img{
    height: 500px;
    /* margin-right: 50px; */
}
.buttons, .dw{
    margin-top: 2px;
    padding-top: 2px;
    line-height: px;

}
.txt, .h1{
    background-image: linear-gradient(to bottom,#805ae7,#ea7ec9);
    color: transparent;
    -webkit-background-clip: text;
    /* font-size: 50px; */
    margin-bottom: 0%;
    font-weight: bold;
}
.buttons , .one p i{
    margin-top: 20px;
    padding-bottom: 0;
    margin: 0%;
    font-size: 20px;
    line-height: 0%;
}

.dw i p{
    margin: 0%;
    /* line-height: 0%; */

}


.dw p{
    padding-bottom: 10px;
    margin-top: 46px;
}
.og {
    display: flex;
    padding-top: 5px;

}
.og, i{
    font-size: 17px;
   
}
.og p{
    margin-top: 10px;
    /* line-height: 0%; */
}
.btn, .button{
    margin-top: 20px;
}
.btn, .btn1{
    display: flex;
    padding-right: 25px;

}
.one {
    /* line-height: 0%; */
    padding-top: 5px;
    padding-bottom: 10px;
    
}
.one i{
    padding-right: 10px;
}

.btn1 button{
    color: rgb(255, 255, 255);
    background-color: rgb(241, 45, 241);
    border: none;
    font-size: 16px;
    border-radius: 25px;
    height: 50px;
    width: 120px;
    
}
.btn2 button{
    color: white;
    background-color: rgb(87, 192, 234);
    border: none;
    font-size: 16px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
}
.banner2{
    padding-bottom: 20px;
    max-width: 1000px;
    min-height: 400px;
}


.banner4{
    /* border: #805ae7 solid 2px; */
    margin: 20px 160px 130px 270px;
    max-width: 1000px;
    min-height: 500px;
    /* display: flex; */
    
    padding: 10px;
    border-radius: 10px;

}
.img4 img{
    width: 600px;
    padding-top: 50px;
    
}
.txt4{
    padding-top: 40px;
    text-align: end;
    /* padding-right: 20px; */
}
.txt6{
    font-weight: bold;
    background-image: linear-gradient(to bottom,#835fe3,#c15aa2);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 36px;

    
}
.btnn {
   /* padding-left: 50px; */
   margin-left: 270px;

}
.btnn , .btnn5{
    color: rgb(255, 255, 255);
    background-color: rgb(237, 82, 237);
    border: none;
    font-size: 16px;
    border-radius: 25px;
    height: 50px;
    width: 130px;
    
}
.bottom-banner1{
    padding-top: 20px;
}
.bottom-banner1 h1{
    line-height: 0%;
    color: rgb(77, 76, 76);
    
}
.bottom-banner1 h2{
    color: grey;
    font-size: 20px;
}
.head{
    text-align: center;
}
.txt8{
    color: black;
    font-size: 48px;
    font-weight: 700px;
    line-height: 0%;
    font-weight: bold;
}
.txt9{
    background-image: linear-gradient(to bottom,#805ae7,#ea7ec9);
    color: transparent;
    -webkit-background-clip: text;
    

}

.box-container{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 40px;

}
.img-container{
    position: relative;
    overflow: hidden;
}
.hover-effect{
    width: 100%;
    height: 83%;
    position: absolute;
    background-color: #00000038;
    top: -100%;
    transition: 0.2s;
    border-radius: 20px;
    margin: auto;
    align-items: center;
    
}
.img-container:hover .hover-effect{
    top: 0px;
    color: rgb(255, 255, 255);
}
.effect {
    margin-top: 100px;
    margin-left: 122px;
}
.effect-p{
    margin-left: 105px;
    margin-right: 0px;
}
.banner-5{
    /* border: red solid 3px; */
    max-width: 1200px;
    /* max-height: 500px; */

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
    padding: auto;
    padding-bottom: 20px;
}
.img-5{
    width: 400px;
    
}
.image-container{
    margin: auto;
    margin-right: 100px;
    position: relative;

}
.matha{
    background-image: linear-gradient(to bottom,#a68fe6,#ef32b7);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    font-weight: bold;
}
.txt-container{
    text-align: end;
    margin: auto;
    margin-left: 250px;
}
.img-6{
    display: flex;
    align-items: center;
    position: absolute;
    top: 56%;
    right: 80%;


}
.main{
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    margin-bottom: 50px;
    
    
    padding: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center; */
}
.hover-1:hover{
    border-radius: 50px;
    border: 2px solid rgb(230, 113, 133);
    padding: 1px;
}
.foot{
    height: 400px;
    /* border: #c15aa2 solid 2px; */
    margin: auto;
    background-color: rgb(1, 1, 30);
}
.foot-logo{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.hh{
    font-size: 30px;
    margin-top: 80px;
    color: white;
   
}
.last{
    text-align: center;
    color: grey;
    margin-top: 30px;
    font-size: 12px;
}